.App {
  text-align: center;
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resort-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

body {
  background-color: #2196F3 !important;
}

.btn-custom {
  background-color: white !important;
  color: black;
}

.text-link {
  color: black;
}

.logout-text {
  color: black;
}

.comment-container {
  max-width: 600px; /* Set the maximum width for the comment container */
  margin: 0 auto; /* Center the container horizontally */
}

.comment-group {
  text-align: center;
}

.resort-name {
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 35px;
}



