.App {
  text-align: center;
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resort-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

body {
  background-color: #2196F3 !important;
}

.btn-custom {
  background-color: white !important;
  color: black;
}

.text-link {
  color: black;
}

.logout-text {
  color: black;
}



